<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.3, maximum-scale=5.0, minimum-scale=0.3" />
    <title>Source Lithology and Conditions</title>
    <meta
      name="description"
      content="A web-based tool to analyze Lithology chemical components and conditions"
    />
    <!-- Jquery -->
    <script src="{{url_for('static', filename='js/utils/jquery-3.5.1.min.js')}}"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>


    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/bootstrap.min.css')}}"
    />
    <script src="{{url_for('static', filename='js/utils/bootstrap.min.js')}}"></script>

    <!-- Plotly -->
    <script src="{{url_for('static', filename='js/utils/plotly-latest.min.js')}}"></script>

    <script src="{{url_for('static', filename='js/index.js')}}"></script>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/index.css')}}"
    />
    <link rel="icon" href="../static/favicon.ico">
  </head>

  <body>

    <div class="container cal-wrapper">
        
      <div class="input my-3 p-3">
        <!-- <h3>Input:</h3> -->
        <div style ="display: flex;flex-direction: row; justify-content: space-between; width: 100%;">
          <div >
            <img
            width='180px'
            height='80px'
            src='../static/EOS.png'
          />
          </div>
          <div style="margin-top: 80px;margin-bottom: 10px; ">
            <p style="font-size: 32px; color: rgb(1, 66, 128)"><b>Source Lithology and Conditions</b></p>
          </div>
        
          <div style ="margin-top: 8px;">
             <img
            width='180px'
            height='70px'
            src='../static/ntu.png'
          />
          </div>
      </div>
      <hr style ="width: 100%; background-color:#1c91ff; border-width: 5px ;margin-top: -10px;margin-bottom: 50px;"/>
        
      <div style= "margin-left: 10px; margin-top: -3px;">
        <p>
          <b><u>Step 1</u>: Upload data: </b>
          <span
            >Please use this
            <a
              href="https://source.wovodat.org/static/example.xlsx"
              download="example.xlsx"
              >example file</a
            >
            to organise your data, and upload the
            <span style="color: red"> xlsx</span> file using the green button
            below.</span
          >
          <br>
          <i>*Please make sure that your excel file does not contains space or null value, and replace it with value 0 instead.</i>
        </p>
        <form
          method="POST"
          action=""
          enctype="multipart/form-data"
          class="upload"
        >
          <div class="custom-file">
            <input
              type="file"
              name="upload-file"
              class="custom-file-input"
              id="upload-file"
            />
            <label class="custom-file-label" for="customFile"
              >Choose file</label
            >
          </div>
          <button class="btn button-upload" id="showbtn" type="submit" style= "margin-top: 8px;">
            Source Lithology (Run)
          </button>
        </form>
        </div>
        <i style = "margin-left: 10px;">  * Please note that it may take more than 1 minute to calculate.</i>
        <hr / style = "margin-top: 10px;">

        <!-- To show the ANN classification figure -->
        <div
          class="plot"
          style="display: flex; align-items: center; margin-bottom: 20px; flex-direction: column; margin-top: 10px;  height:420px"
        >
        <div><h5><b>Graph of MgO vs CaO with labels</b></h5></div>
        <div id = "image-container" style = "display: flex;">
          <img id="image-display" src="{{ url_for('fig') }}" alt=" " height="350" />
          <div id = "error-text"></div>
        </div>
        </div>
        <hr />
        <p><b><u>Step 2</u>: Choose one option based on the classification result above & click "Calculate": </b></p>
        <form class="calculate-pt">
          <div style="display: flex; flex-direction: column; margin-left: 5px">
            <div style="display: flex; flex-direction: row; margin-bottom: 8px">
              <input
                type="radio"
                id="peridotite"
                name="type"
                value="peridotite"
              />
              <div style="margin-left: 10px">Peridotite</div>
            </div>
            <div style="display: flex; flex-direction: row; margin-bottom: 8px">
              <input type="radio" id="mafic" name="type" value="mafic" />
              <div style="margin-left: 10px">Mafic</div>
            </div>
            <div style="display: flex; flex-direction: row; margin-bottom: 15px">
              <input
                type="radio"
                id="transitional"
                name="type"
                value="transitional"
              />
              <div style="margin-left: 10px">Transitional</div>
            </div>
          </div>
          <div style="display: flex; flex-direction: row;">
          <button class="btn" type="submit">
            Calculate pressure & temperature
          </button>
          <a id = "link" href = '../static/result.xlsx' download='result.xlxs' style="text-decoration: none;">
            <!-- <a id = "link" style="text-decoration: none;"> -->
            <button class = "btn" type="button" style ="margin-left: 10px; background: #099cb3; color: white;">
            Download result file
          </button>
          </a>
        </div>
        <div style= "margin-bottom: -8px; margin-left: 6px; margin-top: 5px">
          <p>
             <i>*Please just download after the page finish loading.</i>
          </p>
         
        </div>
          
          
          
        </form>
        <hr />

        <div class="pt-plot" style="display: flex; justify-content: center;"">
          <!-- <img src="../static/image.png" alt="Graph will be displayed here" /> -->
          <div id="mafic-plot" style="display: none">
            <img
              id="mafic-image"
              src="{{ url_for('mafic') }}"
              alt=" "
              height="350"
            />
          </div>
          <div id="peridotite-plot" style="display: none">
            <img
              id="peridotite-image"
              src="{{ url_for('peridotite') }}"
              alt=" "
              height="350"
            />
          </div>
          <div id="transitional-plot" style="display: none">
            <img
              id="transitional-image"
              src="{{ url_for('transitional') }}"
              alt=" "
              height="350"
            />
          </div>
        </div>
      </div>
      <div id="radio"></div>
    </div>
  </body>

  <script>
    // Add the following code if you want the name of the file appear on select
    $('.custom-file-input').on('change', function () {
      var fileName = $(this).val().split('\\').pop();
      $(this)
        .siblings('.custom-file-label')
        .addClass('selected')
        .html(fileName);
    });
  </script>
</html>
